<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas las citas generadas</title>
    <link rel="stylesheet" href="/static/css/pico.indigo.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="container">
    <header>
        <h1>Todas las citas generadas</h1>
    </header>
    <main>
        <ul>
            {{range .GeneratedQuotes}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    </main>
    <footer>
        <p>Derechos reservados &copy; 2025 Generador de Citas</p>
    </footer>
</body>

</html>