<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/pico.indigo.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="container">
    <header class="grid">
        <h1>{{.Title}}</h1>
    </header>
    <main class="main-content">
        <p>Genera una cita aleatoria para tu dia.</p>
        <div class="grid">
            <form action="/generar" method="get">
                <button type="submit">Generar Cita</button>
            </form>
            <form action="/generated_quotes" method="get">
                <button type="submit">Ver Citas Generadas</button>
            </form>
        </div>
        {{if .Quote}}
        <blockquote>{{.Quote}}</blockquote>
        {{end}}
    </main>
    <footer>
        <small>Derechos reservados &copy; 2025 Generador de Citas</small>
    </footer>
</body>

</html>